
            <!--<a ng-click="showJson = !showJson">json</a>-->
            <!--<span ng-if="showJson" ng-bind="getJson()"></span><hr/>-->


            <!--<span ng-if="formsCtrl.vm.selectedSchema" ng-include="'partials/formly/header.html'"></span>-->
            
            <div ng-if="formsCtrl.vm.selectedSchema.tabs" ng-include="'components/formly/formly-tabs.html'"></div>
            <!--<div ng-if="!formsCtrl.vm.selectedSchema.tabs" ng-include="'components/formly/formly-notabs.html'"></div>-->

