<div class="container">
    <div class="block-header">
        <h2>Roster Report</h2>
    </div>

    <div class="card no-print-padding" ng-if="!roster.viewToday">
        <div class="card-header no-print">
            <h2>View {{roster.reportType}} Roster Report


                <button class="btn btn-success pull-right" ng-click="roster.print()"><i class="fa fa-print"></i> Print</button>
            </h2>

        </div>
        <div class="card-body card-padding no-print-padding">
            <div class="row">
                <div class="col-sm-3">
                    <p class="c-black f-500 m-b-20">Date</p>

                    <div class="form-group">
                        <div class="fg-line">

                            <div class="date-picker input-group"
                                 ng-class="{ 'is-opened': roster.todayOpened == true }">
                                <span class="input-group-addon linked-clander"
                                     ng-click="roster.open($event, 'today')" 
                                     datepicker-popup="{{roster.format}}" show-weeks="false"
                                     ng-model="roster.today" 
                                     ng-change="roster.updateRosterReport(false)"
                                     datepicker-options="dateOptions"
                                     close-text="Close"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                                <div class="fg-line" outside-if-not="dp-table" click-outside="roster.formClicked('today')" ng-class="{ 'fg-toggled': roster.todayOpened == true }">
                                <input   type="text" class="form-control"
                                         ng-model="roster.today" 
                                         date-format-filter="{{roster.format}}"
                                         ng-change="roster.updateRosterReport(false)"
                                         ng-required="true" 
                                         placeholder="dd-mm-yyyy"/>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <p class="c-black f-500 m-b-20">Type</p>

                    <div class="form-group">
                        <div class="fg-line">
                            <div class="select">
                                <select ng-change chosen data-placeholder="Select Type..."
                                        class="form-control input-group" ng-model="roster.reportType"
                                        ng-options="item as item for item in roster.types"></select>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3" ng-if="roster.reportType=='Weekly'">
                    <p class="c-black f-500 m-b-20">Educator</p>

                    <div class="form-group">
                        <div class="fg-line">
                            <div class="select">
                                <select chosen class="form-control" ng-change="roster.updateRosterReport(true)"
                                        ng-model="roster.rosterReportEducator"
                                        ng-options="a._id as a.FirstName+' '+a.LastName for a in roster.educatorList"></select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="card no-print-padding" ng-if="roster.reportType=='Daily'" >
            <div class="table-responsive height500"  id="datatable">
                <table  class="table table-bordered table-vmiddle no-print-padding" ng-if="!roster.hideRoster">
                    <thead>
                    <tr>
                        <th class="roster-header">
                             <span>Hours</span>
                        </th>
                        <th ng-repeat="val in roster.getParentHeaders() track by $index" class="roster-header" style="min-width:{{roster.getHeaderWidths()[$index]}}px; text-align:center;">
                            <span>{{val}}</span>
                            <span ng-if="val.indexOf('Parent ')>-1">
                            <select class="form-control"
                                    ng-model="roster.roster.Parents[$index]"
                                    ng-options="a._id as a.GivenName+' '+a.FamilyNameSurname for a in roster.parentList"></select>

                            </span>
                        </th>
                        <th colspan="2" style="text-align:center;" ng-repeat="val in roster.getEducatorHeaders() track by $index" class="roster-header">
                        <span>Staff/{{val}}</span>
                     </th>
                        <!-- <th ng-repeat="ed in roster.roster.Educators track by $index" class="roster-header">
                            <span>{{roster.getEducatorName(ed)}}</span>

                        </th> -->


                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="w in roster.getHours()" class="no-print-padding">
                        <td data-title="'Hours'" class="no-print-padding">
                            <span>{{ roster.getTimeLabel(w.StartTime) + " to " + roster.getTimeLabel(w.EndTime) }}</span>
                            
                        </td>
                        <td ng-if="roster.getParentHeaders().length">
                            <span></span>
                        </td>
                      <td title="Dutylist" class="no-print-padding" ng-repeat="edu in roster.getEducatorDutyList(w) track by $index">
                        <div ng-if="$index%2==0 && !edu.filler">
                            {{roster.getEducatorName(w.Educators[($index)/2])}}
                         </div>
                        <div ng-if="$index%2!=0 && !edu.filler" >
                            {{roster.dutyListMap[w.EducatorDutyList[($index-1)/2]].Name}}
                        </div>

                      </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>

    <div class="card no-print-padding" ng-if="roster.reportType=='Weekly'" >
        <div class="table-responsive height500"  id="datatable">
            <table  class="table table-bordered table-vmiddle no-print-padding" ng-if="!roster.hideRoster">
                <thead>
                <tr>
                    <th class="roster-header">
                        <span>Hours</span>
                    
                    </th>
                    <th ng-repeat="w in roster.weeklyDateRange" class="roster-header">
                         <span>{{ w | date : 'dd-MM-yyyy' }}</span>
                    </th>
                    <!--   <th ng-repeat="w in roster.roster.Hours track by $index" class="roster-header">
                        <span>{{roster.getTimeLabel(w.StartTime) + " to " + roster.getTimeLabel(w.EndTime)}}</span>
                    </th> -->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="w in roster.roster.Hours track by $index" class="no-print-padding">
                    <td class="no-print-padding">
                          <span>{{roster.getTimeLabel(w.StartTime) + " to " + roster.getTimeLabel(w.EndTime)}}</span>
                    </td>
                    
                    <td class="no-print-padding spanPadding" ng-repeat="d in roster.weeklyDateRange track by $index">
                        <span>{{roster.getDuty(d, w)}}</span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>


    </div>

    </div>
